.logo {
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    margin: 16px;
    user-select: none;
    font-weight: 900;

    .primary {
        color: #fff;
    }

    .secondary {
        color: #ffa31a;
    }
}
